body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

header {
    margin-bottom: 20px;
}

#chessboard-container {
    display: inline-block;
    position: relative;
    margin: 20px auto;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 2px solid black;
    position: relative;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell.light {
    background-color: #f0d9b5;
}

.cell.dark {
    background-color: #b58863;
}

#solve-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

/* Координати шахівниці */
.coordinate {
    position: absolute;
    font-size: 14px;
    color: #000;
}

.row-number {
    left: -20px;
    transform: translateY(-50%);
}

.column-letter {
    top: -20px;
    transform: translateX(-50%);
}

.queen img {
    width: 90%;
    height: 90%;
    margin: 5%;
}
